*, *::before, *::after {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh; 
    background-color: rgba(148, 33, 33, 0.472);
}

.container {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    
}

.login {
    width: 100%;
    max-width: 400px; 
    background: radial-gradient(circle, #ffd9e6 10%, transparent 70%);
    color: black;
    padding: 30px 40px;
    border: solid 1px pink;
    border-radius: 10px;
}

.login .title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 15px;
}

.login h2 {
    font-weight: unset;
    display: block;
}

.login input {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: none;
    border-bottom: black 2px solid;
    font-size: 16px;
    background-color: transparent; 
}

.login button {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: none;
    outline: none;
    color: black;
    background-color: rgb(33, 182, 219);
    font-size: 16px;
    border-radius: 25px;
}

.login button a {
    color: white;
    text-decoration: none;
}

.login .access:hover {
    background-color: rgba(33, 182, 219, 0.5);
    text-decoration: underline;
    cursor: pointer;
}

.login a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: darkgray;
    margin: 5px 0 0 0;
}

.login a:hover {
    color: black;
}


#registroSection {
    width: 100%;
    max-width: 550px; 
    background-color: white;
    color: black;
    padding: 30px 40px;
    border-radius: 10px;
    display: none; 
    animation: fadeIn 0.5s ease;
}

#registroSection input {
    width: 100%;
    height: 45px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
    color: black;
}

#registroSection button {
    width: 100%;
    height: 40px;
    background-color: rgb(33, 182, 219);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
}

#registroSection button:hover {
    background-color: rgba(33, 182, 219, 0.7);
    cursor: pointer;
}

#registroSection a {
    display: block;
    text-align: center;
    color: darkgray;
    margin-top: 10px;
    text-decoration: none;
}

#registroSection a:hover {
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}